.stats {
  width: 100%;
  max-width: 450px; /* limits width on large screens */

  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
